= link_to users_get_search_path, users_get_search_path
br
= link_to users_get_ajax_search_path, users_get_ajax_search_path
br
= link_to users_post_search_path, users_post_search_path
br
= link_to users_post_ajax_search_path, users_post_ajax_search_path
